body {
background: rgb(253,187,45);
background: linear-gradient(0deg, rgba(253,187,45,1) 0%, rgba(255,255,255,1) 100%);
}
header {
    background-color: #ffffff; 
}
footer{
    background-color: #ffffff;
}
